html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #e5e5e5;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --gray-ligth: #ebebeb;
  --primary: #7653fc;
  --primary-hover: #5333c6;
  --orange: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-dark: #787d85;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
